.fav-icon {
    cursor: pointer;
    path {
        pointer-events: none;
    }
}

.card__wrapper{
    text-align: center;
    padding: 0;
    margin: 0;
    .card-description__prod-name{
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: 900;
        color: rgba(57, 161, 252, 0.824);
    }
    .info-wrapper{
        width: 290px;
        margin: 5px;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        .card__img-wrapper{
            width: 150px;
            height: 150px;
            margin: 5px;
            padding: 0;
            img{
                max-width: 100%;
                max-height: 100%;
            }
        }
        .card__description{
            margin: 0;
            padding: 0;
            text-decoration: none;
            text-align: start;
            display: flex;
            flex-direction: column-reverse;
            flex-wrap: nowrap;
            align-items: flex-start;
            justify-content: center;
            .card-description__prod-price{
                span{
                    color: green;
                    font-weight: 900;
                }
            }
            .card-description__prod-color{
                span{
                    color: rgb(40, 116, 116);
                }
            }
        }
    }
    .card__btn-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        svg {
            color: blue;
            height: 25px;
        }
        .btn{
            width: 70px;
            border: none;
            border-radius: 20px;
            padding: 10px;
            background-color: rgb(131, 229, 131);
            cursor: pointer;
        }
    }
    .del__icon{
        text-align: end;
        margin-top: 5px;
        margin-right: 5px;
        cursor: pointer;
    }
}